
.signin{
    background-image: url('../Assets/bg_signup.jpg') ;
}
.signin1{
  /* background:rgb(21, 55, 119,0.65); */
  background: #F4F7FA;
  background: rgb(244, 247, 244,0.85);
  color: black;
  padding: 50px;
  /* padding-bottom: 30px; */
  margin: 120px 0;
  height: auto;
    border: solid 1px grey;
  border-radius: 20px;
}
.signin1 h2{
  text-align: center;
  color:black;
  padding-bottom: 20px;
}