@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";

/* 
*{
    background: beige;
} */

.logo1{
  background: black;
  float: left;
  padding: 1px;

}

.nav {
  background:black;
  /* background-image: linear-gradient(
    to right,#b2ebf2,#80deea,#4dd0e1,#26c6da,#00bcd4,#00acc1, #0097a7,#00838f ,#006064); */
  padding: 6px;
}
.nav1 a:link,.nav1 a:visited{
  color:white;
  text-decoration: none;
  /* padding-right:10px;
  padding-left:10px; */
  
}
.nav1 a:hover{
  color:white;
  text-decoration: none;
  background: rgb(21, 55, 119);
  border-radius: 6px;
  /* padding-right:10px;
  padding-left:10px; */
  
}
/* .nav{
  background-image: linear-gradient(to right,#61045f,#aa076b);
  padding: 6px;
} */
.container {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.left {
  background: yellow;
}
.right {
  background: red;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
